@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}

.box {
    display: inline-table;
}

.nav_admin {
    background-color: #04b000;
    float: left;
    text-align: center;
    width: 250px;
    height: 100vh;
}

.img_avatar{
    width: 150px;
    border-radius: 150px;
    border: 5px solid #025900;
}

.head {
    padding-top: 20px;
}

.name {
    color: white;
}

.nav {
    padding-top: 20px;
}

.nav .ul .li{
    background-color: white;
    border-left: 10px solid rgb(0, 104, 26);
    margin: 5px;
    padding: 10px;
    margin: 10px;
}

.button_head {
    font-size: 12px;
    text-decoration: none;
    color: rgb(0, 104, 26); 
    font-weight: bold;
}

.add_input {
    width: 80%;
    
}